/* ***************************Header******************** */
.header {
    color: red;
    text-align: center;
}

/* ***************************Nav******************** */
.text-blvi {
    color: blueviolet;
}

 ul {
    list-style-type:none;
    display: block;
    text-align: center;
}

 ul li {
    display: inline;
    margin: 10 px;
    
}

ol li {
    display: inline;
    margin: 10 px;
    
}



/* ---------------------Article------------------------------- */

.article {
    text-align: center;
}

article h3 {
    color: rgb(136, 160, 3);
}


/* -------------------------------İmg--------------------- */

image{
    height: 1px;
}

